.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.editar,
.modal,
.form {
  background: white;
  border-radius: 12px;
  box-shadow: 0 0px 10px rgba(255, 255, 255, 1);
  color: black;
  padding: 10px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.input {
  background: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 12px;
  color: black;
  width: 180px;
}

.inside_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
}

.inside_content_otro {
  background: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 12px;
  color: black;
  width: 100%;
}

.inside_content_otro::placeholder {
  color: rgb(133, 133, 133)
}

.submit {
  background: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 12px;
  color: black;
  width: 100%;
  cursor: pointer;
}

.submit:hover {
  background: black;
  color: white;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}

.table {
  background: white;
  width: 40%;
  border-radius: 12px;
  box-shadow: 0 0px 10px rgba(255, 255, 255, 1);
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table>td {
  text-align: center;
}

.background_modal {
  position: absolute;
  top: 0;
  background-color: rgba(77, 73, 73, 0.3);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.editar{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  transform: translate(-50%, -50%);
}

.editar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
}

.form_content > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
}

.flecha{
  cursor: pointer;
  width: fit-content;
  padding: 3px 5px 5px 5px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  position: absolute;
}



